// View-Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Primary Colors
$light-black: #323232;
$light-gray: #afafaf;
$light-white: #ffffff;
$light-blue: #0095ff;

//Secondary Colors
$dark-black: #000000;
$dark-gray: #e1e1e1;
$dark-white: #fafafa;
$dark-blue: #0065ad;
